scapy==2.5.0
impacket==0.10.0
paramiko==3.4.0
netifaces==0.11.0
pymysql==1.1.0
psycopg2-binary==2.9.9
colorama==0.4.6
pillow==10.1.0
pyyaml==6.0.1
requests==2.31.0
pycryptodome==3.20.0
dnspython==2.4.2
